.stream-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    overflow: hidden;

    .stream {
        height: 100%;
        width: 100%;
        grid-area: 1 / 1 / span 1 / span 1;
        overflow-y: auto;
    }

    .chat {
        height: 100%;
        width: 100%;
        grid-area: 1 / 2 / span 1 / span 1;
        overflow: hidden;
    }
}
